                                                                            /* The alert message box */
                                                                    
                                                                    body {}
                                                                    
                                                                    body::before {
                                                                        background: url("mapBackground.jpg") no-repeat center center fixed;
                                                                        content: '';
                                                                        z-index: -1;
                                                                        width: 100%;
                                                                        height: 100%;
                                                                        position: absolute;
                                                                        -webkit-background-size: cover;
                                                                        -moz-background-size: cover;
                                                                        -o-background-size: cover;
                                                                        background-size: cover;
                                                                        -webkit-filter: blur(5px);
                                                                        -moz-filter: blur(5px);
                                                                        -o-filter: blur(5px);
                                                                        -ms-filter: blur(5px);
                                                                        filter: blur(5px);
                                                                    }
                                                                    
                                                                    @font-face {
                                                                        font-family: 'Verlag';
                                                                        /*a name to be used later*/
                                                                        src: url('Verlag-Black.ttf');
                                                                    }
                                                                    
                                                                    .text {
                                                                        padding-top: 10%;
                                                                        margin-right: auto;
                                                                        width: 50%;
                                                                        align-content: center;
                                                                        font-family: 'Verlag', helvetica;
                                                                        /*a name to be used later*/
                                                                        src: url('Verlag-Black.ttf');
                                                                        font-size: 60px;
                                                                        margin-bottom: 5%
                                                                    }
                                                                    
                                                                    .discover {
                                                                        display: block;
                                                                        max-height: 80%;
                                                                        max-width: 40%;
                                                                    }
                                                                    
                                                                    @media only screen and (min-device-width: 319px) and (max-device-width: 569px) {
                                                                        .discover {
                                                                            max-height: 70%;
                                                                            max-width: 80%;
                                                                            background-color: #8cff80;
                                                                        }
                                                                        .text {
                                                                            display: block;
                                                                            padding-top: 50%;
                                                                            padding-bottom: 50px;
                                                                            margin-right: auto;
                                                                            margin-left: auto;
                                                                            width: 50%;
                                                                            align-content: center;
                                                                            font-family: 'Verlag', helvetica;
                                                                            /*a name to be used later*/
                                                                            src: url('Verlag-Black.ttf');
                                                                            font-size: 130px;
                                                                            margin-bottom: 5%
                                                                        }
                                                                    }
                                                                    /* iPads (landscape) ----------- */
                                                                    
                                                                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                                                                        .discover {
                                                                            max-height: 50%;
                                                                            max-width: 50%;
                                                                            background-color: #8cff80;
                                                                        }
                                                                        .text {
                                                                            display: block;
                                                                            padding-top: 10%;
                                                                            padding-bottom: 10px;
                                                                            margin-right: auto;
                                                                            margin-left: auto;
                                                                            width: 50%;
                                                                            align-content: center;
                                                                            font-family: 'Verlag', helvetica;
                                                                            /*a name to be used later*/
                                                                            src: url('Verlag-Black.ttf');
                                                                            font-size: 130px;
                                                                        }
                                                                        /* iPads (portrait) ----------- */
                                                                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                                                                            .discover {
                                                                                max-height: 90%;
                                                                                max-width: 90%;
                                                                                background-color: #8cff80;
                                                                            }
                                                                            .text {
                                                                                display: block;
                                                                                padding-top: 50%;
                                                                                padding-bottom: 50px;
                                                                                margin-right: auto;
                                                                                margin-left: auto;
                                                                                align-content: center;
                                                                                font-family: 'Verlag', helvetica;
                                                                                /*a name to be used later*/
                                                                                src: url('Verlag-Black.ttf');
                                                                                font-size: 180px;
                                                                            }
