@font-face {
    font-family: 'Verlag';
    /*a name to be used later*/
    src: url(Verlag-Black.ttf');
    /*URL to font*/
}

.body {
    width: 100%;
    height: 100%;
}

.tester {
    background-color: #70FF87;
    border-color: black;
}

.test {
    border-color: red;
    border-width: 20px;
}

.balkenFarbe {
    opacity: 1;
    z-index: 100;
    color: black;
    background-color: black;
    border-color: red;
    border-width: 50px;
    z-index: 300;
}

.test {
    z-index: 300;
    padding-left: 0;
    padding-right: 0;
    border-color: black;
    color: #70FF87;
    border-width: 5px;
}

.buttonBar {
    color: #70FF87;
    z-index: 300;
}

#myBar {
    opacity: 1;
    z-index: 100;
    padding-left: -10;
    padding-right: -10;
    color: #70FF87;
    border-color: black;
    border-width: 5px;
    z-index: 300;
}

#spotcounter {
    margin-top: 5px;
    opacity: 1;
    font-family: 'Verlag', helvetica;
    /*a name to be used later*/
    src: url(Verlag-Black.ttf');
    /*URL to font*/
    margin-bottom: 20%;
    font-size: 30px;
    color: black;
    z-index: 9;
    padding-right: 20px;
    padding-left: 20px;
}

.testLayer {
    background-color: #8cff80;
    border: 1px solid #3dcf2d;
    border-radius: 4px;
    opacity: 1;
    top: 4%;
    position: absolute;
    border-radius: 5px;
    z-index: 9;
    border-radius: 5px;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    transition: box-shadow .3s ease;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


}
.text {
    padding-top: 10%;
    margin-right: auto;
    width: 50%;
    align-content: center;
    font-family: 'Verlag';
    /*a name to be used later*/
    
    src: url(Verlag-Black.ttf');
    /*URL to font*/
    
    font-size: 60px;
    margin-bottom: 5%
}
.discover {
    display: block;
    max-height: 30%;
    max-width: 30%;
}

}
.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    padding: 10px;
    border: none;
    font-family: 'Verlag';
    src: url(Verlag-Black.ttf');
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #7EFF98;
    -webkit-box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.enjoy-css p {
    text-align: center;
    line-height: 100px;
    font-family: 'Verlag';
    src: url(Verlag-Black.ttf');
    color: black;
    font-size: 40px;
    margin: auto;
}
.universum {
    opacity: 1;
}
#map {
    height: 100%;
}
.wrapperdat {
    overflow: hidden;
    width: 100%x;
    height: 100%x;
    position: relative;
    filter: blur(5px);
}
.wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto',
    'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#map {
    width: 100%;
    opacity: 1;
    height: 100%;
    /*add this*/
    top: 0px;
    left: 0px;
    z-index: 1;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    font-family: Helvetica,
    sans-serif;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
* Popup container */ .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
